*.iml
.gradle
build/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/AndroidProjectSystem.xml
/.idea/deploymentTargetSelector.xml
/.kotlin/errors/errors-1739365639121.log
/.kotlin/errors/errors-1746010788178.log
/.kotlin/errors/errors-1747138928359.log
/.idea/runConfigurations.xml
